body{
    font-family: sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    background-color: lightsalmon;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

input{
    padding: 10PX;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button:hover{
    background-color: #218838;
}
ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
}
li{
    background-color: #fff;
    border-bottom:  1px solid #eee;
    padding: 10px;
    font-size: 18px;
}
.completed{
    text-decoration: line-through;
    color: gray;
    background-color: #e2ef3e;
}
.delete-btn{
    float: right;
    background-color: #e60a20;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}   
.delete-btn:hover{
    background-color: #1cac09;
}